# fly.toml app configuration file generated for hidden-master-server on 2026-02-01T06:27:58+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hidden-master-server'
primary_region = 'nrt'
[env]
  TZ = "Asia/Seoul"

[mounts]
  source = "hidden_master_data"
  destination = "/app/images"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
